<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments :: headerfiles"></head> 

  <body>
  
    <div th:replace="fragments :: headerbodies"></div>
    
    <div class="container">
      <h1>Annuaire</h1>
      <a href="addAssocie">Ajouter un associé</a>
      <br/><br/>
      <div>
       <table border="1">
        <tr>
           <th>Prénom</th>
           <th>Nom de famille</th>
        </tr>
        <tr th:each ="PersonLine : ${persons_table}">
           <td th:utext="${PersonLine.firstNameCell}">...</td>
           <td th:utext="${PersonLine.lastNameCell}">...</td>
        </tr>
       </table>
      </div>
    </div> <!-- enf of page container -->

    <div th:replace="fragments :: footerbodies"></div>

    </body>
</html>