<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments :: headerfiles"></head> 

  <body>
  
    <div th:replace="fragments :: headerbodies"></div>
    
    <div class="container">

          <h1>Page d'accueil</h1>
            <p th:utext="${message}">..!..</p>
              <a th:href="@{/associesList}">Liste des associés</a>
              
    </div> <!-- enf of page container -->

    <div th:replace="fragments :: footerbodies"></div>

    
  </body>
    
</html>